/ USER's home page. (profiles / index )

= link_to 'Create new project', new_project_path
.div
  = link_to 'Collab on projects', projects_path

.user_projects  
  = current_user.name + '\'s active projects:'
  %ul
    - @active_projects_by_user = Project.active.where(creator_id: current_user.id)
    - @active_projects_by_user.each do |p|
      %li= link_to p.name, project_path(p)

.user_projects  
  = current_user.name + '\'s partner projects:'
  %ul
    - @collabed = current_user.projects.active - @active_projects_by_user
    - @collabed.each do |p|
      %li= link_to p.name, project_path(p)

.user_projects  
  = current_user.name + '\'s past projects:'
  %ul
    - @past_projects = current_user.projects.inactive
    - @past_projects.each do |p|
      %li= link_to p.name, project_path(p)
