.section
	.container
		.row
			.col-lg-6.col-md-6.col-sm-6
				%h2= @project.name
				
				- if @project.active?
					-if current_user == @project.creator
						= link_to 'Edit project', edit_project_path(@project)

						= link_to 'Delete project', project_path(@project), :method => :delete, data: { confirm: 'Are you sure your wish to delete this project?' }

					-elsif !@project.users.include? current_user 
						= link_to 'Join project', collab_project_path(@project)
					-else
						= link_to 'Quit project', quit_project_path(@project)

				%dl
					.project_info
					- if @project.active?
						%dt Started:
						%dd= @project.start_time   
						%dt Ending: 
						%dd= @project.end_time
					- else 
						%dt This project has ended

					.project_info
						%dt Project Description:
						%dd= @project.description
					
					.project_info
						%dt Created by: 
						%dd= @project.creator.name
					
					.project_info
						%dt Location: 
						%dd= @project.location
			.col-lg-6.col-md-6.col-sm-6
				%img.img-responsive.img-home-portfolio
					=image_tag @project.avatar.url

					
			%ul.collaber_list
				Project collabers: 
				- @collabers.each do |c|
					- if c.id != @project.creator.id
						%a{href: profile_path(c.id)}
							%li
								= image_tag c.avatar.thumb.url if c.avatar
							= c.name
