= image_tag @project.avatar.url if @project.avatar

%br
Name:
%br 
= @project.name
%br
%br
Project Description:
%br
= @project.description
%br
%br
Project Status: 
= 'Live project' if @project.ongoing
%br
Created by: 
= @user_id.first_name + @user_id.last_name
%br
Location: 
= @project.location
%br 

- if @project.ongoing
	Started:
	= @project.start_time
	%br 
	Ending: 
	= @project.end_time
- else 
	This project has ended

%br
= link_to 'Edit project', edit_project_path(@project)
%br
= link_to 'Delete project', project_path(@project), :method => :delete, data: { confirm: 'Are you sure your wish to delete this project?' }
