.pull-left
	= link_to 'Create new project', new_project_path
	.div
		= link_to 'Collab on projects'

	

	.user_projects	
		Projects created by:
		= current_user.name
		%ul
			- @created = Project.where(creator_id: current_user.id)
			- @created.each do |p|
				%li= link_to p.name, project_path(p)

.pull-right
	.text-right
		.user_profile
			%strong User Profile
			- u = current_user
			%dl
				.user_info
					%dt Avatar
					%dd= image_tag u.avatar.thumb.url if u.avatar		
				
				.user_info
					%dt Name:
					%dd= u.first_name + ' ' + u.last_name if (u.first_name && u.last_name)
				
				.user_info
					%dt Email:
					%dd= u.email if u.email 
				
				.user_info
					%dt Location:
					%dd= u.location if u.location
				
				.user_info
					%dt Blurb:
					%dd= u.blurb if u.blurb
				
				.user_info
					%dt Portfolio:
					%dd= u.portfolio if u.portfolio 

			= link_to 'Edit profile', edit_profile_path