.pull-left
	= link_to 'Create new project', new_project_path
	%br
	%br
	
	Projects created by:
	= current_user.first_name
	%br
	- userProjects = current_user.projects
	- if userProjects
		- userProjects.each do |p|
			= link_to p.name, project_path(p)
			%br
.pull-right
	.text-right
		%strong User Profile
		%br
		- u = current_user
		=image_tag u.avatar.thumb.url if u.avatar
		%br 
		Name:
		%br
		= u.first_name + ' ' + u.last_name if (u.first_name && u.last_name)
		%br 
		%br
		Email:
		%br
		= u.email if u.email 
		%br
		%br
		Location:
		%br
		= u.location if u.location
		%br
		%br
		Blurb:
		%br
		= u.blurb if u.blurb
		%br
		%br
		Portfolio:
		%br
		= u.portfolio if u.portfolio 
		%br
		%br

		= link_to 'Edit profile', edit_profile_path
