%table
	%tr
		%td= image_tag p.avatar.preview.url
		%td.postcard_descrip
			%h4=p.name
			=p.location
			.div
				- hoursLeft = (p.end_time - DateTime.now)/60/60/30
				= distance_of_time_in_words(DateTime.now, p.end_time) + ' left'

%hr

	%h4= 'To: '+ p.project_email

	= simple_form_for(:contact , html: {class: 'form-horizontal' }, url: '/add_collaber' ) do |f| 
		
		= f.input :sender_email, required: true, as: :email, input_html: {style: 'width: 50%'}, placeholder: 'my_email@domain.com'
		= f.input :message, required: true, as: :text, input_html: {rows: 5, style: 'width: 100%'}, placeholder: 'message'
		


		.modal-footer
			%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
			= f.submit 'Send'
			
