.project_card.text-center
  %a{href: project_path(p)}
    .project_card_image=image_tag p.avatar.url
    .h5= p.name 
    .project_card_descrip
      by 
      =p.creator.name
    .project_card_descrip
      =truncate(p.description, length: 100, separator: ' ')
    .project_card_descrip
      %i.icon-map-marker= ' ' + p.location

    %table.project_card_stats
      %row  
        %td
          = p.active? ? 'active' : 'inactive'
          .text_gray status
          /todo: turn into a progress bar
        %td
          - member_str = pluralize(p.users.count, ' collaber').split(' ')
          = p.users.count
          .text_gray= member_str[1]
        %td
          - hoursLeft = (p.end_time - DateTime.now)/60/60/30
          = distance_of_time_in_words(DateTime.now, p.end_time)
          .text_gray remaining
        




