!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Collab"
    %meta{content: content_for?(:description) ? yield(:description) : "Rails Bootstrap", name: "description"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top= render 'layouts/navigation'
    / This section displays the 
    / .section=render 'asdf'

    %main{role: "main"}
      .container
        = render 'layouts/messages'
        - if notice
          %p.alert.alert-notice= notice
        - if alert
          %p.alert.alert-error= alert


      = yield

    
    %hr/
    %footer.footer  
      .container
        %p Copyright © Collab.do 2013
